.single-post {
    padding-left: 30px;
}
.single-post h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
.single-post-img {
    width: 100%;
    margin-bottom: 30px;
}
.single-post-img img {
    width: 100%;
}
.single-post span {
    font-weight: 800;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.single-post-img span {
    font-size: 10px;
    font-weight: 800;
    color: grey;
}
.single-post-content p {
    margin-top: 15px;
    margin-top: 15px;
}
.post-content {
    background-color: #f7f7f7;
    margin-top: 20px;
    padding: 15px;
    margin-bottom: 180px;
    padding-bottom: 80px;
    letter-spacing: 1px;
}

@media only screen 
and (min-device-width: 481px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {  


}

@media only screen 
and (min-device-width: 120px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .single-post {
        padding-left: 100px;
    }
    .single-post h2 {
        font-size: 60px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 80px;
        margin-top: 50px;
    }
    .single-post-img {
        width: 100%;
        margin-bottom: 50px;
    }
    .single-post-img img {
        width: 100%;
        margin-bottom: 20px;
    }
    .single-post span {
        font-weight: 800;
        margin-top: 20px;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .single-post-img span {
        font-size: 8px;
        font-weight: 800;
        color: grey;
        margin-left: 10px;
    }
    .single-post-content p {
        margin-top: 15px;
        margin-top: 15px;
    }
    .post-content {
        background-color: #f7f7f7;
        margin-top: 30px;
        padding: 15px;
        margin-bottom: 180px;
        padding-bottom: 80px;
        letter-spacing: 1px;
    }
}

