* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
}
.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #eee;
  padding-bottom: 2px;
}
.posts-list {
  margin : 20px 10px 50px 10px;
  justify-content: center;
  align-items: center;
  color: #000;
}
.posts-list .card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 7px 7px 50px 0 rgb(0, 0, 0,.7);
  height: 700px;
}
.posts-list .card .card-head{
  padding: 20px;
  padding-bottom: 20px;
}
.posts-list .card .card-head h1{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 25px 100px 5px 100px;
}
.posts-list .card .card-head span {
  font-weight: 100;
  font-size : 10px;
}
.posts-list .card .card-head p {
  margin: 25px 10px 15px 10px;
  font-size : 16px;
}
.posts-list .card .card-img {
  height: 300px;
  padding: 10px;
}
.posts-list .card .card-img img {
  width: 100%;
  height: 300px;
  cursor: pointer;
  transition: 0.6s;
  
}
.posts-list .card .card-footer {
  margin-left: 15px;
  width: 95%;
  height: 50px;
  border: 1px solid #eee;
}
.info {
  margin: 10px 100px 10px 40px;
}
.info span {
  margin: 20px 50px 5px 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}
.info input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}
.info p {
  margin: 20px 50px 5px 30px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}
.text-area-bio {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  
}
.post-card-footer {
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding-top: 10px;
}
.post-card-footer  div{
  border: 1px solid #000;
  height: 30px;
  margin: auto;
  padding-top: 8px;
  border-radius: 20px;
}
.post-card-footer  .comments{
  width: 200px;
}
.post-card-footer  .comments:hover{
  width: 230px;
  height: 40px;
  box-shadow: 7px 7px 50px 0 rgb(0, 0, 0,.7);
  cursor: pointer;
}
.post-card-footer  .likes{
  width: 100px;
}
.post-card-footer  .likes:hover{
  width: 130px;
  height: 40px;
  cursor: pointer;
  box-shadow: 7px 7px 50px 0 rgb(0, 0, 0,.7);
  background: rgb(255, 105, 105);
}
.post-card-footer  span {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.post-card .comment-section {
  text-align: start;
}
.post-card .comment-section li {
  list-style: none;
}
.comment-content {
  margin: 10px 5px 5px 5px;
  border: 1px solid #000;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 9px 0 rgb(0, 0, 0,.7);
}
.comment-content span {
  font-size: 12px;
  margin-right: 10px;
}
.comment-content p {
  margin : 10px 10px 10px 0px ;
  font-size: 14px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.comment-section {
  border-top: 5px solid #eee;
  padding: 10px;
}
.comment-section .input-comment {
  display: flex;
  padding: 5px 10px 5px 40px;
  margin-bottom: 30px;
}
.comment-section input {
  width: 60%;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}
.comment-section button {
  width: 30%;
  color: #fff;
  font-weight: 800;
  border: 1px solid #000;
  cursor: pointer;
  background: #000;
  border-radius: 25px;
  margin-left: 10px;
}
.card-feedback {
  position: fixed;
    width: 320px;
    display: block;
    top: 20%;
    left: 35%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  z-index: 1000;
}
.upper-side {
  padding: 2em;
  background-color: #8BC34A;
  display: block;
  color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.upper-side-failure{
  padding: 2em;
  background-color: rgb(242, 79, 79);
  display: block;
  color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin-top: -.2em;
  margin-bottom: 0;
}
.lower-side {
  padding: 2em 2em 5em 2em;
  background: #fff;
  display: block;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.message {
  margin-top: -.5em;
  color: #000;
  letter-spacing: 1px;
  font-size: 1.1rem;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0,.8);
  z-index: 1000;
}
.sk-cube-grid {
  width: 60px;
  height: 60px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 40%;
  height: 40%;
  background-color: #000;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
@media only screen 
  and (min-device-width: 120px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
 
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }
  .posts-page-container {
    padding-top: 50px;
    height: 120%;
  }
  .posts-page-container .post-card {
    width: 75%;
    margin-bottom: 50px;
    height: 100%;
    margin-top: 20px;
    border-bottom: 2px solid #000;
  }
  .post-card-head p {
    font-size : 30px;
  }
  .post-card-img {
    height: 400px;
  }
  .info span {
    margin: 20px 50px 5px 30px;
    font-size: 22px;
  }
  .info input {
    font-size: 22px;
  }
  .info p {
    font-size: 22px;
  }
}

@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .main {
      grid-template-columns: 1fr 2fr;
    }
  }