.most-viewed-story {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 30px;
    cursor: pointer;
}
.most-viewed-story-head {
    margin-right: 20px;
    width: 300px;
}
.most-viewed-story-head img {
    width: 180px;
    height: 150px;
}
.most-viewed-story-body {
    margin-top: 5px;
}
.most-viewed-story-body h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 12px;

}
.most-viewed-story-body p{ 
    font-size: 12px;
    letter-spacing: 1px;
}