.home-page-container {
    margin: 20px 50px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.3fr 1.5fr 0.6fr;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin: 10px 15px;
    font-weight: 500;
}

@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .home-page-container {
      margin: 20px 50px;
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 1.1fr 1fr 0.3fr;
    }
    h3 {
        font-family :Arial, Helvetica, sans-serif;
        font-size: 38px;
        margin: 45px 15px;
        font-weight: 600;
    }
  }


@media only screen 
  and (min-device-width: 120px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .home-page-container {
        height: 100%;
        grid-template-rows:  1.5fr 1fr;
    }
    .blog-category-listing {
        display: none;
    }
    .dev-zoners {
        display: none;
    }

    h3 {
        font-family :Arial, Helvetica, sans-serif;
        font-size: 58px;
        margin: 35px 15px;
        font-weight: 600;
    }
  }