 .post-side-bar-content {
     padding-left: 10px;
 }
 .side-search-bar {
    width: 250px;
    height: 20px;
    border-radius: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid darkgray;
}
.side-search-bar input {
    width: 100%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    outline: none;
    border: 0px;
    padding: 12px;
}
.side-fa-icon-search .fa-icon-search {
    background-color: #f8f8f8;
    width: 20%;
    justify-content: center;
    padding-top: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.post-side-bar-content  ul {
    list-style: none;
    padding-left: 10px;
    margin-top: 40px;
    color: #000;
    
}
.post-side-bar-content ul li {
    margin: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: 800;
}

.post-side-bar-content ul li:hover {
    color: grey;
    font-size: 18px;
    
}