 .post-side-bar-content {
     padding-left: 10px;
 }
 .side-search-bar {
    width: 250px;
    height: 20px;
    border-radius: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid darkgray;
}
.side-search-bar input {
    width: 100%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    outline: none;
    border: 0px;
    padding: 12px;
}
.side-fa-icon-search .fa-icon-search {
    background-color: #f8f8f8;
    width: 20%;
    justify-content: center;
    padding-top: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.post-side-bar-content  ul {
    list-style: none;
    padding-left: 10px;
    margin-top: 40px;
    color: #000;
    
}
.post-side-bar-content ul li {
    margin: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: 800;
}

.post-side-bar-content ul li:hover {
    color: grey;
    font-size: 18px;
}

  @media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {  
  
  }

  @media only screen 
  and (min-device-width: 120px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .post-side-bar-content {
        padding-left: 10px;
    }
    .side-search-bar {
       width: 90%;
       height: 30px;
       margin-top: 20px;
       padding: 30px;
   }
   .side-search-bar input {
       width: 100%;
       border-bottom-left-radius: 25px;
       border-top-left-radius: 25px;
       outline: none;
       border: 0px;
       padding: 12px;
       font-size: 28px;
   }
   .side-fa-icon-search .fa-icon-search {
       background-color: #f8f8f8;
       width: 30%;
       justify-content: center;
       padding-top: 20px;
       border-top-right-radius: 25px;
       border-bottom-right-radius: 25px;
   }
   .post-side-bar-content  ul {
       display: grid;
       grid-template-columns: 1fr 1fr;
       list-style: none;
       padding-left: 10px;
       margin-top: 40px;
       color: #000;
       
   }
   .post-side-bar-content ul li {
       margin: 5px;
       font-size: 26px;
       letter-spacing: 1px;
       margin-top: 20px;
       font-weight: 800;
   }
  }