.single-post-container {
    margin: 20px 0;
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
}
.single-post-top {
    display: grid;
    grid-template-columns: 2fr .5fr;
}
.single-post {
    width: 95%;
    padding-top: 10px;
    padding-left: 5px;
}
.related-stories {
    padding-left: 5px;
}
@media only screen 
and (min-device-width: 481px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {  


}

@media only screen 
and (min-device-width: 120px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .single-post-container {
        margin: 20px 0;
        padding-left: 20px;
        height: fit-content;
        width: 98%;
        display: grid;
        grid-template-rows: 1.5fr 0.7fr;
    }
    .single-post-top {
        display: grid;
        grid-template-columns: 1fr;
    }
    .single-post {
        width: 95%;
        padding-top: 10px;
        padding-left: 15px;
    }
    .related-stories {
        margin-top: 20px;
        padding-left: 15px;
    }
    .next-stories {
        margin-top: 100px;
    }
}